
<div class="col-md-12 ">
  <div class="instrument">
    <div class="controls">
      <button {{action "play" bubbles=false}} class="btn btn-success">Play</button>
    </div>
    <div class="visualizer">
    </div>
  </div>
</div>