
<div class="col-md-12 ">
  <span class="pull-right active">(*)</span>
  <div class="instrument">
    Graph Visualizer <button {{action "play"}} class="btn">Play</button>
    <div class="visualizer">
    </div>
  </div>
</div>