<div class="col-md-4 col-sm-4">
  <div {{action "toggleSelected"}} {{bind-attr class=":child :instrument selected"}}>
    <span class="controls">
      <button {{action "play" bubbles=false}} class="btn btn-success">Play</button>
    </span>
    <div class="visualizer">
    </div>
  </div>
</div>