<div class="col-md-4">
  <div class="child instrument">
    <span class="controls">
      Child Instrument <button {{action "play"}} class="btn">Play</button>
    </span>
    <div class="visualizer">
    </div>
  </div>
</div>